@charset "utf-8";





html {
    background: url(16618699032_34a7d8eb41_b.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

body {
    width: 86%;
    background-color: rgb(190, 160, 122);
    margin-left: auto;
    margin-right: auto;
    display: table;
    content: "";
    clear: both;
}

article#index {
    margin-left: auto;
    margin-right: auto;
}

article#index img {
    transform: rotateZ(90deg);
    width: 30%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

p b {
    font-size: 1.3em;
}

h1#main {
    font-size: 3.3em;
    text-shadow: blue 2px 2px 1px, rgba(21, 21, 21, 0.66) 5px 5px 25px;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p#links {
    width: 100%;
}

p#links a {
    color: white;
    background-color: rgb(220, 27, 27);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    align-content: center;
}

/* Header Styles */
body>header>img {
    display: block;
    width: 100%;
    height: 18em;
}

body>header>nav li {
    width: 25%;
}

nav li {
    display: block;
    float: left;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: red;
    font-size: 1.3em;
}

/* All Aside Styles */
aside#extraC::after {
    display: table;
    content: "";
    clear: both;
    width: 100%;
}

aside#extraC img {
    float: right;
    width: 50%;
}

aside#extraC blockquote {
    width: 50%;
    float: left;
    padding: 0px;
}

aside#edu2::after {
    width: 55%;
    display: table;
    content: "";
    clear: both;
}

aside#edu2 blockquote.edu2 {
    font-size: 1.4em;
    width: 100%;
}

blockquote.extraC p {
    font-size: 1.4em;
}

aside#edu {
    display: table;
    content: "";
    clear: both;
    width: 40%;
    float: right;
    padding-right: 30px;
    padding-bottom: 30px;
}

aside#edu img {
    width: 100%;
    float: right;
    /* padding-right: 30px;
    padding-bottom: 30px; */
}